* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-primary);
    line-height: 1.5;
    overflow-x: hidden !important;
    width: 100%;
    max-width: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

h1 {
    font-size: 1.875rem;
    font-weight: 700;
}

.help {
    color: var(--text-secondary);
    font-size: 0.75rem;
    margin-bottom: 8px;
}

.hidden {
    display: none !important;
}

.separator {
    border: 0;
    border-top: 1px solid var(--border);
    margin: 48px 0;
}
